<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XTSpringFromBottom</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTSpringFromEdgeAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>H</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<true/>
			<key>isAccordToCoordinate</key>
			<true/>
		</dict>
	</dict>
	<key>XTSpringFromRight</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTSpringFromEdgeAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>W</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<false/>
			<key>isAccordToCoordinate</key>
			<true/>
		</dict>
	</dict>
	<key>XTSpringFromTop</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTSpringFromEdgeAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>H</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<true/>
			<key>isAccordToCoordinate</key>
			<false/>
		</dict>
	</dict>
	<key>XTSpringFromLeft</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTSpringFromEdgeAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>W</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<false/>
			<key>isAccordToCoordinate</key>
			<false/>
		</dict>
	</dict>
	<key>XTRoundExpand</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTRoundExpandAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>H</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<true/>
			<key>isAccordToCoordinate</key>
			<true/>
		</dict>
	</dict>
	<key>XTCardSpringFromBottom</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTCardPresentAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>H</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<true/>
			<key>isAccordToCoordinate</key>
			<true/>
		</dict>
	</dict>
	<key>XTCubeRotateFromRight</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTCubeAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>W</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<false/>
			<key>isAccordToCoordinate</key>
			<true/>
		</dict>
	</dict>
	<key>XTCubeRotateFromTop</key>
	<dict>
		<key>animationClass</key>
		<dict>
			<key>className</key>
			<string>XTCubeAnimation</string>
		</dict>
		<key>interactiveClass</key>
		<dict>
			<key>className</key>
			<string>XTPanInteractive</string>
			<key>completePointNum</key>
			<dict>
				<key>ScreenHorW</key>
				<string>H</string>
				<key>percent</key>
				<string>0.5</string>
				<key>absolutePointNum</key>
				<string></string>
			</dict>
			<key>isVertical</key>
			<true/>
			<key>isAccordToCoordinate</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
